<div class="container">
  <h1 class="text-center">Home Page</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <a class="btn btn-primary" href="/temp-converter">Temperature Converter</a>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <a class="btn btn-primary" href="/reverser">Word Reverser</a>
    </div>
  </div>
</div>
