<div class="container">
  <h1 class="text-center">Word Reverser</h1>
  <hr>
  <form class="form-inline text-center" action="/word-reverser-result" method="get">
    <div class="form-group">
      <label for="text">What phrase would you like to reverse?</label>
      <input class="form-control" type="text" name="phrase" id="text">
    </div>
    <input class="btn btn-primary" type="submit" value="submit">
  </form>
</div>
<div class="text-center m-t-10">
  <a href="/">Back Home</a>
</div>
