<h1>Results of Temperature Conversion</h1>

<p>You started with <%= @temperature %> degrees (<%= @units %>).</p>
<p>This is equivalent to <%= @result %> degrees (<%= @ending_unit %>).</p>

<p><a href="/temp-converter">Convert another temperature</a></p>
<p><a href="/">Back Home</a></p>
