<h1>Let's Convert Some Temperatures</h1>

<form action="/temp-converter-results" method="get">
  <input type="text" name="temperature"> Degrees
  <select name="units">
    <option value="f">Fahrenheit</option>
    <option value="c">Celsius</option>
  </select>
  <input type="submit" value="Submit">
</form>
